@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamingCommunity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/gcStyles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-brand-container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">_Revive Lounge</a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @{
                            if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link loginLink" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link signUpLink" asp-area="" asp-controller="Authentication" asp-action="Registration">Sign Up</a>
                                </li>
                            } else 
                            {
                                <div class="user-menu">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="userDropdown" data-bs-toogle="dropdown" aria-expanded="false">
                                        <!-- TODO  reference image based on userid -->
                                        <img src="~/imgs/user_avatars/conker.jpg" class="mini-avatar" alt="avatar image" />
                                        <span class="username">@User.Identity.Name</span>
                                    </button>
                                    <div class="dropdown-userMenu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Community" asp-action="YourProfile">Profile</a>
                                        <a class="dropdown-item" href="#" id="logoutBtn">Logout</a>
                                    </div>
                                </div>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="sidebar overflow-auto">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <button class="toggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#firstSidebarLinks" aria-expanded="false" aria-controls="collapseExample">
                    Community
                    <span id="collapseIcon" class="arrow-icon">▲</span>
                </button>
                <div class="firstSidbareLinks show" id="firstSidebarLinks">
                    <a class="sidebar-link" asp-controller="Community" asp-action="Gaming">Gaming</a>
                    <a class="sidebar-link" asp-controller="Community" asp-action="Reviews">Reviews</a>
                    <a class="sidebar-link" asp-controller="Community" asp-action="News">News</a>
                </div>
                <div class="division">
                </div>
                <button class="toggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#secondSidebarLinks" aria-expanded="false" aria-controls="collapseExample">
                    Last visited
                    <span id="collapseIcon" class="arrow-icon">▲</span>
                </button>
                <div class="secondSidebarLinks show" id="secondSidebarLinks">
                    <a class="sidebar-link" href="#">Last visited thread</a>
                    <a class="sidebar-link" href="#">second Last visited thread</a>
                    <a class="sidebar-link" href="#">third last visited thread</a>
                </div>
            }
            else
            {
                <div class="guestLinks">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link" asp-area="" asp-controller="Community" asp-action="Gaming">Community</a>
                </div>
            }
         }
    </div>


    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - GamingCommunity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Shared/_layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
