*.dll
*.exe
*.pdb
*.log
*.bin
*.suo
*.cache
*.log
*.jfm
*.tgz

/packages/
/node_modules/

*.vs/
*.vscode/
*.sln
*.csproj.user
*.suo
*.user
*.userprefs
*.pidb
*.ide

obj/
bin/

*.log
*.cache

.vs/
.vscode/
