@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GamingCommunity.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}


<div class="container containerBody" id="loginContainer">
    <h2>_Login</h2>
    <form id="loginForm" class="forms">
        <div>
            <label for="usernameOrEmail">Username or Email:</label>
            <input type="text" class="form-control" id="usernameOrEmail" name="usernameOrEmail" />
        </div>
        <div class="passwordContainer">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" />
            <a class="forgotPasswordLink" href="#">I forgot my password</a>
        </div>
        <button type="submit" id="loginBtn">Login</button>
        <button type="button" id="signUpBtn">Sign Up</button>
    </form>
</div>


<script src="~/js/Authentication/login.js"></script>