@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GamingCommunity.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

<div class="container" id="signUpContainer">
    <h2>_Sign Up</h2>
    <form id="registrationForm" class="forms">
        <div>
            <div>
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required />
                <span id="usernameAvailability"></span>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required />
                <span id="emailAvailability"></span>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required />
                <span id="validPassword"></span>
            </div>
            <div>
                <label for="confirm-password">Confirm your password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
                <span id="confirmPasswordEqual"></span>
            </div>
            <div>
                <label for="birthDate">Birth date</label>
                <input type="date" class="form-control" id="birthDate" name="birthDate" required />
                <span id="birthDateWarning"></span>
            </div>

            <button type="submit" id="submitBtn">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/Authentication/registration.js"></script>
}
