@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Main";
}


<div class="container">
    <h1 class="mainTitle">Area under construction!</h1>
</div>
<div class="sidebar overflow-auto">
    <button class="toggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#gameLinks" aria-expanded="false" aria-controls="collapseExample">
        Communities
        <span id="collapseIcon" class="arrow-icon">▲</span>
    </button>
    <div class="gameLinks show" id="gameLinks">
        <a class="sidebar-link" href="#">Gaming</a>
        <a class="sidebar-link" href="#">Reviews</a>
        <a class="sidebar-link" href="#">Movies</a>
        <a class="sidebar-link" href="#">Shows</a>
        <a class="sidebar-link" href="#">Music</a>
        <a class="sidebar-link" href="#">True Story Bro</a>
        <a class="sidebar-link" href="#">Lounge</a>
    </div>
    <div class="division">
    </div>
    <button class="toggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#userHistory" aria-expanded="false" aria-controls="collapseExample">
        Last Activities
        <span id="collapseIcon" class="arrow-icon">▲</span>
    </button>
    <div class="userHistory show" id="userHistory">
        <a class="sidebar-link" href="#">Last visited thread</a>
        <a class="sidebar-link" href="#">second Last visited thread</a>
        <a class="sidebar-link" href="#">third last visited thread</a>
    </div>
</div>
