@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="profileContainer">
        <div class="profileAvatarUsername">
            <img src="" alt="your avatar" id="profileAvatar"/>
            <p class="profileName">Username</p>
        </div>
        <div class="profileInfo">
            <p class="profileGender">gender</p>
            <p class="profileAge">age</p>
        </div>

        <div class="profileBio">
            <p class="profileBioText">bio</p>
        </div>

        <div class="profilePlatform">
            <p class="profilePlatformLink"><a href="https://www.google.com">google</a></p>
        </div>
    </div>

    <div class="profileMenu">
        <div class="userOptions">
            <button type="button" class="button">My activies</button>
        </div>
        <div class="seeDirectMessages">
            <button type="button" class="button">Direct messages</button>
        </div>
        <div class="changeUsername">
            <button type="button" class="button">Change your username</button>
        </div>
        <div class="changePassword">
            <button type="button" class="button">Change your password</button>
        </div>
        <div class="changeEmail">
            <button type="button" class="button">Change your email</button>
        </div>
    </div>

    <div class="profileActivity">
        Under construction!
    </div>


</div>