@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="profile-container">
        <div class="profile-avatar-username">
            <img src="" alt="your avatar" id="profile-avatar"/>
            <p class="profile-name">Username</p>
        </div>
        <div class="profile-info">
            <p class="profile-gender">gender</p>
            <p class="profile-age">age</p>
        </div>

        <div class="profile-bio">
            <p class="profile-bio">bio</p>
        </div>

        <div class="profile-platform">
            <p class="profile-platform-link"><a href="www.google.com">google</a></p>
        </div>
    </div>

    <div class="profile-menu">
        <div class="see-activies">
            <button type="button" class="button">My activies</button>
        </div>
        <div class="see-direct-messages">
            <button type="button" class="button">Direct messages</button>
        </div>
        <div class="change-password">
            <button type="button" class="button">Change your password</button>
        </div>
        <div class="change-email">
            <button type="button" class="button">Change your email</button>
        </div>
    </div>

    <div class="profile-activity">
        Under construction!
    </div>


</div>