@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Profile";
}

<div class="profilePageContainer">
    <div class="profileContainer">
        <div class="profileAvatarBio row">
            <div class="col-auto">
                <img src="~/imgs/user_avatars/conker.jpg" alt="your avatar" class="profileAvatar" id="profileAvatar" />
            </div>
            <div class="col">
                <div class="profileBio">
                    <p id="profileBioText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="profileInfo">
                    <p id="profileUsername"><strong>@User.Identity.Name</strong></p>
                    <p id="profileGender"><strong>Gender</strong></p>
                    <p id="profileAge"><strong>Age</strong></p>
                </div>

                <div class="profilePlatform">
                    <p id="profilePlatformLink"><a href="https://www.google.com" target="_blank">google</a></p>
                </div>
                <div class="profileMenu">
                    <div class="myActivities">
                        <button type="button" id="myActivitiesBtn" class="button">My activities</button>
                    </div>
                    <div class="seeDirectMessages">
                        <button type="button" id="seeDMBtn" class="button">Direct messages</button>
                    </div>
                    <div class="changePassword">
                        <button type="button" id="changePasswordBtn" class="button">Change password</button>
                    </div>
                    <div class="changeEmail">
                        <button type="button" id="changeEmailBtn" class="button">Change email</button>
                    </div>
                </div>
            </div>

            
            <div class="profileWindowContainer col-10">
                <div class="profileWindow">
                    <h5>My Activities</h5>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/Profile/profile.js"></script>
}