html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-menu {
    position: relative; /* Ensure relative positioning for child elements */
}

.dropdown-userMenu {
    display: none; /* Initially hide the dropdown menu */
    position: absolute; /* Position the dropdown absolutely relative to the user-menu */
    top: 100%; /* Position the dropdown below the user-menu */
    left: 0; /* Align the dropdown with the left edge of the user-menu */
    /* Add dropdown menu styles */
}

.dropdown-userMenu.show {
    display: block; /* Show the dropdown menu when 'show' class is applied */
}